.layout{
  width: 100%;
  height: 100vh;
  background:  url('img/bg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav{
  width: 100%;
  height: 50px;
  background: #1ED760;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: fixed;
  top: 0;
  left: 0;
}

.layout_1{
  width: 100%;
  height: 100%;
  background: skyblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.layout_2{
  width: 100%;
  height: 100%;
  background: pink;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout nav a{
  padding: 10px;
}

.play{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80vh;
  background: rgba(0,0,0,0.68);
  border-radius: 25px;
}

.play .loginbtn{
  padding: 20px;
  margin-top: 50px;
}

.play .list{
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0,0,0,0.16);
}
.play .list:first-of-type{
  margin-top: 100px;
}

.play .list a{
  width: fit-content;
  height: fit-content;
  text-decoration: none;
  color: #282c34;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.play .list .left{
  display: flex;
}
.play .content{
  margin-left: 20px;
}

.play .content span{
  display: block;
  text-align: left;
}
.play .description span{
  display: block;
  margin-bottom: 20px;
}
.play .description img{
  width: 1200px;
  height: auto;
}
